@import '../../../sass/mixins';
@import '../../../sass/styles';

.poker-drawer {
    width: 90%;
    height: 100%;
    color: $cultured;
    background-color: $CHARCOAL;
    // background-image: linear-gradient(to-top, $CHARCOAL, $CHARCOAL2, $gunmetal);
    // background-image: $gradient-top;
    border-radius: 20px;
    font-weight: bolder;
    padding: 0px 10px;
    // border: 7px solid $CHARCOAL;
    @include col-spc;
    // button {
    //     @include fix-btn;
    //     z-index: 1;
    //     &:hover {
    //         color: $steel-blue;
    //     }
    // }
    .tray-header {
        width: 100%;
        @include col-start;
    }
}

#hamburger {
    position: fixed;
    width: 25px;
    height: 25px;
    right: 2px;
    top: 50%;
    &:hover {
        color: $indigo-dye2;
    }
}

#tab-btns {
    width: 25px;
    height: 25px;
    @include fix-btn;
        z-index: 1;
        color: silver;
        opacity: .5;
        &:hover {
            opacity: 1;
        }
}

.rules-list-col {
    @include col-even;
    width: 95%;
    height: max-content;
    // &:hover {
    //     background-color: $gunmetal;
    //     border-radius: 20px;
    // }
}

.rules-list-row {
    @include row-spc;
    width: 100%;
    color: $cultured;
    font-size: small;
}

#icons {
    color: silver
}