@import '../../../sass/mixins';
@import '../../../sass/styles';
@import '../../../sass/animations';

.Status-bar {
    @include column;
    width: 95%;
    height: max-content;
    border-radius: 20px;
    position: absolute;
    top: 0px;
    background-color: black;
    color: lime;
    font-size: xx-small;
    div {
        width: 15%;
        background-color: $indigo-dye2;
    }
}