@import '../../sass/styles';
@import '../../sass/mixins';

.CreateList-main {
    width: 50%;
    height: 25%;
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 10px;
    position: absolute;
    top: 100px;
    left: 300px;
    // transition-property: all;
    transition: ease 5s;
    background-color: rgba(100, 100, 100, 1);
    @include column;
    h1 {
        color: $green;
    }
    button {
        @include fix-btn;
        line-height: 2em;
        margin-top: 10px;
        // margin-bottom: 10px;
        &:hover {
            color: $green;
        }
    }
}

.creation-modal {
    width: 100%;
    height: 50%;
    color: $gunmetal;
    @include row-spc;
    .input-labels {
        input {
            line-height: 2em;
        }
        h4 {
            line-height: 0em;
            font-weight: bold;
        }
    }
}

